In [1]:
import pandas as pd

In [2]:
!kaggle datasets download -d mkechinov/ecommerce-behavior-data-from-multi-category-store \
    -f 2019-Oct.csv -p ../Data\ sets --unzip

2019-Oct.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
events = pd.read_csv('../Data sets/2019-Oct.csv.zip')

In [4]:
events.shape

(42448764, 9)

In [5]:
events.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

##### Выберем категорию только сматрфоны по `category_id`

In [6]:
events = events.drop(['product_id', 'brand', 'category_code', 'user_session'], axis=1)

In [7]:
events.head()

                event_time event_type          category_id    price    user_id
0  2019-10-01 00:00:00 UTC       view  2103807459595387724    35.79  541312140
1  2019-10-01 00:00:00 UTC       view  2053013552326770905    33.20  554748717
2  2019-10-01 00:00:01 UTC       view  2053013559792632471   543.10  519107250
3  2019-10-01 00:00:01 UTC       view  2053013558920217191   251.74  550050854
4  2019-10-01 00:00:04 UTC       view  2053013555631882655  1081.98  535871217

In [8]:
smartphone = events[(events['category_id'] == 2053013555631882655) & (events['event_type'] == 'purchase')]

In [9]:
smartphone.head()

,event_time,event_type,category_id,price,user_id
162,2019-10-01 00:02:14 UTC,purchase,2053013555631882655,130.76,543272936
308,2019-10-01 00:04:37 UTC,purchase,2053013555631882655,642.69,551377651
618,2019-10-01 00:10:08 UTC,purchase,2053013555631882655,515.67,524325294
860,2019-10-01 00:14:14 UTC,purchase,2053013555631882655,463.31,555083442
1558,2019-10-01 02:19:10 UTC,purchase,2053013555631882655,736.18,515246296

In [10]:
smartphone.shape

(338018, 5)

In [11]:
smartphone.to_csv('../Data sets/smartphone_raw.csv', index=False)

Отобрали из 5,28 GB данных 27 MB нужных нам. Отлично, время двигаться дальше!